.topBar {
  background: #4a4a4a50;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.stickyTopbar {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background: #777;
  background: #4a4a4a50;
}

.list>li {
  display: inline;
  padding: 1rem;
  cursor: pointer;
}